@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Thin.ttf);
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-ThinItalic.ttf);
  font-weight: lighter;
  font-style: italic;
}
* {
  transition: color, background 0.5s ease-in-out 0.2s;
}
*:hover,
*:focus {
  transition: color, background 0.2s ease-in-out 0s;
}
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: Roboto;
  font-size: 20pt;
  font-weight: normal;
  color: black;
  background: whitesmoke;
}
main {
  margin-top: 20px;
}
h1 {
  font-size: 30pt;
  text-align: center;
}
a {
  text-decoration: none;
}
